.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
  text-align: right;
  font-size:small;
}

/* icons rounded */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Hover effect */
.fa:hover {
  opacity: 0.7;
}
